In [7]:
from factfinder.calculate import Calculate
from dotenv import load_dotenv
import os

In [6]:
try:
    env_path = "../.env"
    load_dotenv(dotenv_path=env_path)
except:
    print(".env file is missing ...")

In [11]:
calculate = Calculate(
        api_key=os.environ["API_KEY"], year=2019, source="acs", geography='2010_to_2020'
    )

In [15]:
df2020 = calculate('aghhinc', 'CT20')
df2010 = calculate('aghhinc', 'tract')

In [19]:
df2020.loc[df2020.labs_geoid.isin(['1007001', '1007002']), :]

,census_geoid,labs_geoid,geotype,labs_geotype,pff_variable,c,e,m,p,z
1236,36061007001,1007001,CT20,CT2020,aghhinc,16.3,340169434.0,90945155.0,NaN,NaN
1237,36061007002,1007002,CT20,CT2020,aghhinc,15.3,388900466.0,98143969.0,NaN,NaN

In [23]:
ratio = calculate.geo.ratio
ratio.head()

  geoid_ct2010 geoid_ct2020   ratio
0  36005000100  36005000100  1.0000
1  36005000200  36005000200  1.0000
2  36005000400  36005000400  1.0000
3  36005001600  36005001600  1.0000
4  36005001900  36005001901  0.2457

In [27]:
ratio.loc[ratio.geoid_ct2020.isin(['36061007001', '36061007002']), :]

     geoid_ct2010 geoid_ct2020    ratio
1266  36061007000  36061007001  0.46658
1267  36061007000  36061007002  0.53342

In [29]:
df2010.loc[df2010.census_geoid == '36061007000', :]

,census_geoid,labs_geoid,geotype,labs_geotype,pff_variable,c,e,m,p,z
2029,36061007000,1007000,tract,CT2010,aghhinc,10.7,729069900.0,128251453.0,NaN,NaN

In [30]:
# 36061007001
729069900.0*0.46658

340169433.942

In [31]:
# 36061007002
729069900.0*0.53342

388900466.058